<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sunbird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <script src="./libs/jquery.min.js"></script>
    <script src="./libs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/izimodal/css/iziModal.css">
    <script src="bower_components/moment/moment.js"></script>
    <link rel="stylesheet" href="./styles/semantic.min.css">
    <script src="./libs/semantic.min.js"></script>
    <script src="./libs/angular.min.js"></script>
    <link rel="stylesheet" href="./assets/styles.css">
    <link rel="stylesheet" href="./assets/inline.css">

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <style>
        .textcontent .fa {
            font-size: 3.5em;
            margin: 0 .50rem 0 .50rem;
            vertical-align: middle;
        }
    </style>

</head>

<body>
    <!-- header content -->
    <div class="ui fixed main menu bs-0 d-block">
        <div class="ui container flex-ai-center flex-jc-space-between header-white"><a class="d-flex logo" role="banner" tabindex="0" title="sunbird"><img class="cursor-pointer" alt="sunbird" src="./assets/sunbird_logo.png"></a>
            <i class="large bars icon link primary-color mobile only" tabindex="0"></i>
            <app-main-menu class="d-flex computer only ml-auto" _nghost-c4="">
                <div _ngcontent-c4="" class="ui text menu m-0 d-flex flex-jc-center flex-ai-center computer only">
                </div>
                <div _ngcontent-c4="" class="mobile only">
                    <div _ngcontent-c4="" class="ui sidebar right vertical menu">
                        <div _ngcontent-c4="" class="item font-weight-bold"><i _ngcontent-c4="" class="close link icon" tabindex="0" title="CLOSE"></i>
                            <div _ngcontent-c4="" class="ellipsis"> Reviewer&nbsp;User </div>
                        </div>
                        <div _ngcontent-c4="" class="ui divider mt-0"></div><a _ngcontent-c4="" apptelemetryinteract="" class="item" routerlink="/resources" href="https://dev.sunbirded.org/resources">
                            Library </a><a _ngcontent-c4="" apptelemetryinteract="" class="item" routerlink="/learn" href="https://dev.sunbirded.org/learn"> Courses </a>
                        <a _ngcontent-c4="" class="item" routerlink="/profile" href="https://dev.sunbirded.org/profile">
                            Profile </a><a _ngcontent-c4="" class="item logout-btn"> Logout </a>
                    </div>
                </div>
            </app-main-menu>

            <a class="profile-avtar computer only p-0 ml-15" tabindex="0">
                <div class="ui dropdown right top pointing" id="dropdown-menu-list-header" suidropdown="" tabindex="0">

                    <ngx-avatar initialssize="1" _nghost-c5="">
                        <div _ngcontent-c5="" class="avatar-container" style="width: 38px; height: 38px;">


                            <div _ngcontent-c5="" class="avatar-content" style="text-align: center; border-radius: 50%; border: 1px solid rgb(232, 232, 232); text-transform: uppercase; color: rgb(170, 170, 170); background-color: transparent; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 17px; line-height: 38px; font-family: inherit; height: 38px; width: 38px;">R</div>
                        </div>
                    </ngx-avatar>
                    <div class="menu transition hidden" suidropdownmenu="">

                        <div class="item headerDropdownProfile"> Reviewer&nbsp;User </div>
                        <div class="ui divider"></div><a class="item" routerlink="profile" href="https://dev.sunbirded.org/profile">
                            Profile </a>



                        <a class="item"> Logout </a>
                    </div>
                </div>
            </a>
        </div>

        <div class="bg-primary p-10">
            <div class="ui container d-flex flex-ai-center mx-0"></div>
        </div>

        <div class="p-10 mobile only">
            <div class="ui mobile-view container d-flex flex-jc-space-between mx-0"><button apptelemetryinteract="" class="ui button qr-code-btn d-flex flex-ai-center"><i class="qrcode icon d-flex flex-ai-center"></i><span
                        class="d-flex flex-ai-center"> Enter QR code </span></button>

            </div>
        </div>
    </div>
    <!-- header content -->

    <!-- mid content -->
    <div class="ui container" ng-app="workspaceApp" ng-controller="workspaceCtrl">
        <div class="ui stackable grid mt-30">
            <div class="three wide column pt-0">
                <h4 class="workspaceicon ui header sectionHeading mt-20"><i class="fa fa-database"></i><span>
                        My Workspace </span></h4>
                <div class="publicmenusection ui secondary vertical menu tabs">
                    <a class="item" ng-class="{active : isSet('tab-create')}" ng-click="setTab('tab-create')">
                        Create </a>
                    <a class="item" ng-class="{active : isSet('tab-allcontent')}" ng-click="setTab('tab-allcontent')">
                        All My Content </a>
                    <a class="item" ng-class="{active : isSet('tab-review')}" ng-click="setTab('tab-review')">
                        Review Submissions </a>
                    <a class="item" ng-class="{active : isSet('tab-published')}" ng-click="setTab('tab-published')">
                        Published </a>
                    <a class="item" ng-class="{active : isSet('tab-upreview')}" ng-click="setTab('tab-upreview')" id="upForReview" style="display: none">
                        Up For Review </a>
                </div>
            </div>
            <div class="nine wide column workspacesegment">
                <div id="ContentEditorModal"></div>
                <div id="GenericEditorModal"></div>
                <div ng-show="isSet('tab-create')" class="ui grid mt-5 tab_content tab-create" id="tab-create">
                    <div class="three wide column">
                        <div class="ui link card workspacecontent" tabindex="0" data-toggle="modal" data-target="#myModal">
                            <div class="content">
                                <div class="textcontent"><i class="fa fa-file-text"></i><span class="my-text"><a href="#" class="trigger">Resources</a></span></div>
                            </div>
                        </div>
                        <p class="workspaceinstuction">Create different resources like story, game, activity, audio, video, using the inbuilt authoring
                            tools.
                        </p>
                    </div>
                    <div class="three wide column">
                        <div class="ui link card workspacecontent" tabindex="0">
                            <div class="content">
                                <div class="textcontent"><i class="fa fa-upload"></i><span class="my-text"><a href="#" class="trigger" onclick="$('#GenericEditorModal').iziModal('open')">Upload Content</a></span></div>
                            </div>
                        </div>
                        <p class="workspaceinstuction">You can upload content here.</p>
                    </div>
                </div>

                <div ng-show="isSet('tab-allcontent')" class="ui grid mt-5 tab_content tab-allcontent">
                    <div class="twelve wide column" ng-if="data.length">
                        <table class="ui upForReviewTable table">
                            <thead>
                                <tr>
                                    <th class="six wide UpReviewTableHeader">Content </th>
                                    <th class="four wide UpReviewTableHeader">Last Updated </th>
                                    <th class="two wide UpReviewTableHeader">Status </th>
                                    <th class="two wide UpReviewTableHeader"></th>
                                    <th class="two wide UpReviewTableHeader"></th>
                                </tr>
                            </thead>
                            <tbody in-view-container="">
                                <tr apptelemetryinteract="" ng-repeat="content in data" class="UpForReviewListHover cursor-pointer" in-view-item="" ng-click="initiazeEditor(content.identifier)">
                                    <td>
                                        <h5 class="ui image header"><img class="ui tiny image UpReviewTinyImage" src="./images/default.png">
                                            <div class="content ">
                                                <div class="UpReviewHeader">{{content.name}}
                                                    <!---->
                                                </div>
                                                <div class="UpReviewSubHeader">{{content.contentType}} </div>
                                            </div>
                                        </h5>
                                    </td>
                                    <td>
                                        <h5 class="ui image header">
                                            <div class="content">
                                                <div class="UpReviewSubHeader">{{content.updateddate}} </div>
                                            </div>
                                        </h5>
                                    </td>
                                    <td class="UpForReviewStatusOrange">{{content.status}}</td>

                                    <td>
                                        <!---->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ten wide column" ng-if="!data.length">
                        <div class="ui two column centered grid no-result-container">
                            <div class="column">
                                <img src="./images/erroricon.png">
                                <div class="no-result-text">{{noResultMsg}}</div>
                                <div class="no-result-search-text">no-results</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="isSet('tab-upreview')" class="ui grid mt-5 tab_content tab-allcontent">
                    <div class="twelve wide column" ng-if="data.length">
                        <table class="ui upForReviewTable table">
                            <thead>
                                <tr>
                                    <th class="six wide UpReviewTableHeader">Content </th>
                                    <th class="four wide UpReviewTableHeader">Last Updated </th>
                                    <th class="two wide UpReviewTableHeader">Status </th>
                                    <th class="two wide UpReviewTableHeader"></th>
                                </tr>
                            </thead>
                            <tbody in-view-container="">
                                <tr apptelemetryinteract="" ng-repeat="content in data" class="UpForReviewListHover" in-view-item="">
                                    <td>
                                        <h5 class="ui image header"><img class="ui tiny image UpReviewTinyImage" src="./images/default.png">
                                            <div class="content ">
                                                <div class="UpReviewHeader">{{content.name}}</div>
                                                <div class="UpReviewSubHeader">{{content.contentType}} </div>
                                            </div>
                                        </h5>
                                    </td>
                                    <td>
                                        <h5 class="ui image header">
                                            <div class="content">
                                                <div class="UpReviewSubHeader">{{content.updateddate}} </div>
                                            </div>
                                        </h5>
                                    </td>
                                    <td class="UpForReviewStatusOrange">{{content.status}}</td>
                                    <td><button class="btn btn-block btn-primary" ng-click="publishContent(content.identifier)"><i class="fa fa-rocket"></i> Publish</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ten wide column" ng-if="!data.length">
                        <div class="ui two column centered grid no-result-container">
                            <div class="column">
                                <img src="./images/erroricon.png">
                                <div class="no-result-text">{{noResultMsg}}</div>
                                <div class="no-result-search-text">no-results</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="isSet('tab-create') || isSet('tab-allcontent') || isSet('tab-upreview')" class="ui grid mt-5 tab_content tab-allcontent">
                    <div class="twelve wide column">
                        <div class="ui stackable three column grid" ng-if="data.length">
                            <div class="column py-5 pl-10" ng-repeat="content in data">
                                <div class="ui fluid card">
                                    <div class="image" style="height:200px">
                                        <img src="./images/default.png" style="height:200px">
                                    </div>
                                    <div class="content">
                                        <a class="header">{{content.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ten wide column" ng-if="!data.length">
                            <div class="ui two column centered grid no-result-container">
                                <div class="column">
                                    <img src="./images/erroricon.png">
                                    <div class="no-result-text">{{noResultMsg}}</div>
                                    <div class="no-result-search-text">no-results</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div _ngcontent-c7="" style="margin-top: -200px; height: 300px;" class="ui modal scroll transition active visible normal">
                <i _ngcontent-c7="" class="close icon"></i>
                <div class=" ui segment mt-10">
                    <div class=" mb-15">
                        <div class="ui grid">
                            <div class="eleven wide column"><span class="ui header"> Create Resource </span></div>
                        </div>
                    </div>
                    <form id="createForm" class="ui form" novalidate="">
                        <div class="content">
                            <div>
                                <app-content-creation-default-template _nghost-c8="">
                                    <div _ngcontent-c8="" class="ui grid">
                                        <div _ngcontent-c8="" class="twelve wide column">
                                            <div _ngcontent-c8="" class="field"><label _ngcontent-c8=""> Name </label>
                                                <div _ngcontent-c8="" class="field"><input _ngcontent-c8="" type="text" name="name" placeholder="Name"></div>
                                            </div>
                                        </div>
                                        <div _ngcontent-c9="" class="six wide column">
                                            <select class="mdb-select md-form" style="border: 0;border-bottom: 1px solid #333;border-radius: 0;" name="grade">
                                            <option value="" disabled selected>Select Class</option>
                                            <option value="Class 3">Class 3</option>
                                            <option value="Class 4">Class 4</option>
                                            <option value="Class 5">Class 5</option>
                                            <option value="Class 8">Class 8</option>
                                        </select>
                                        </div>
                                        <div _ngcontent-c8="" class="six wide column">
                                            <select class="mdb-select md-form" style="border: 0;border-bottom: 1px solid #333;border-radius: 0;" name="Subject">
                                            <option value="" disabled selected>Select Subject</option>
                                            <option value="EVS">EVS</option>
                                            <option value="Geography">Geography</option>
                                            <option value="Science">Science</option>
                                        </select>
                                        </div>
                                        <input type="hidden" name="framework" value="devcon-appu" />
                                        <input type="hidden" name="board" value="devcon-appu_board" />
                                        <input type="hidden" name="medium" value="English" />
                                        <input type="hidden" name="mimeType" value="application/vnd.ekstep.ecml-archive" />
                                    </div>
                                </app-content-creation-default-template>
                            </div>
                            <div class="actions mt-10">
                                <p class="text-align-center pt-20"><button data-dismiss="modal" class="ui primary text-align-center icon button" onclick="submitForm(); "> START CREATING </button></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- mid content -->

        <!-- footer -->
        <footer class="footer mt-20">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="four wide column footerMenu">
                        <ul class="p-0 m-0">
                            <li class="mb-15"><a href="https://dev.sunbirded.org/verticals/profile-registry/">
                                DIKSHA Verticals </a></li>
                            <li class="mb-15"><a href="https://dev.sunbirded.org/help/getting-started/explore-diksha/index.html">
                                Help Center </a></li>
                            <li class="mb-15"><a href="https://dev.sunbirded.org/partners/"> Partners </a></li>
                        </ul>
                    </div>
                    <div class="four wide column center aligned playStore"><label class="d-block mb-10">DIKSHA for Mobile</label><a class="d-block" href="https://play.google.com/store/apps/details?id=in.gov.diksha.app"><img
                            class="playStore-img" src="./assets/google_playstore.png" alt="DIKSHA for Mobile"></a></div>
                    <div class="four wide column contantDetails"><label class="d-block mb-10"> Contact for queries:
                    </label><a class="d-block mb-30" href="mailto:diksha-support@ncte-India.org">
                        diksha-support@ncte-india.org </a><label class="d-block"><a href="https://dev.sunbirded.org/term-of-use.html">
                            Terms of Use </a><span>| © 2019, DIKSHA</span></label></div>
                </div>
            </div>
        </footer>
        <!-- footer -->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/izimodal/js/iziModal.js" type="text/javascript"></script>
        <script src="./libs/lodash.min.js"></script>
        <script type="text/javascript">
            var userNames = { "1": "Suren", "2": "Mohit", "3": "Kamesh" };
            function getURLParam(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }
            var userId = getURLParam('userId');
            var userName = userNames[userId];
            if (userId === '3') {
                $('#upForReview').show();
            }
            var context = {
                user: {
                    id: userId,
                    name: userName
                },
                sid: "rctrs9r0748iidtuhh79ust993",
                contentId: "",
                channel: "ntp.sunbird"
            }
            var defaultConfig = {
                baseURL: '',
                dispatcher: 'local',
                modalId: 'ContentEditorModal',
                plugins: [
                    { "id": "org.ekstep.sunbirdcommonheader", "ver": "1.3", "type": "plugin" },
                    { "id": "org.ekstep.preview", "ver": "1.2", "type": "plugin" }
                ]
            }
            function submitForm() {
                var formData = $("#createForm").serializeArray();
                formData.push({ name: "userId", value: userId })
                $.ajax({
                    type: 'POST',
                    url: '/action/content/v3/create',
                    data: formData,
                    dataType: "json",
                    crossDomain: true,
                    success: function (msg) {
                        initiazeEditor(msg.identifier);
                        $('#ContentEditorModal').iziModal('open');
                    },
                    error: function (request, status, error) {
                        alert(error);
                    }
                });
            }

            function initiazeEditor(contentId) {
                context.contentId = contentId;
                $("#ContentEditorModal").iziModal({
                    title: '',
                    iframe: true,
                    iframeURL: "bower_components/content-editor-iframe/index.html?context=" + JSON.stringify(context) + "&config=" + JSON.stringify(defaultConfig),
                    navigateArrows: false,
                    fullscreen: true,
                    openFullscreen: true,
                    closeOnEscape: false,
                    overlayClose: false,
                    overlay: false,
                    overlayColor: '',
                    history: false,
                    onClosing: function () {
                        $("#ContentEditorModal").iziModal('close');

                    }
                });
            }

            var app = angular.module('workspaceApp', []);
            app.controller('workspaceCtrl', function ($scope) {
                $scope.noResultMsg = '';
                $scope.search = function (requestObj) {
                    $scope.data = undefined;
                    $.ajax({
                        type: 'POST',
                        url: '/action/content/v3/search',
                        dataType: "json",
                        data: JSON.stringify(requestObj),
                        contentType: "application/json; charset=utf-8",
                        crossDomain: true,
                        success: function (data) {
                            var result = data.result.content;
                            result.forEach(function (content, index) {
                                if (result[index].updateddate)
                                    result[index].updateddate = moment(result[index].updateddate).fromNow();
                            });
                            $scope.data = result;
                            $scope.$apply();
                        },
                        error: function (request, status, error) {
                            alert(error);
                        }
                    });
                }

                $scope.initiazeEditor = function (contentId) {
                    context.contentId = contentId;
                    $("#ContentEditorModal").iziModal({
                        title: '',
                        iframe: true,
                        iframeURL: "bower_components/content-editor-iframe/index.html?context=" + JSON.stringify(context) + "&config=" + JSON.stringify(defaultConfig),
                        navigateArrows: false,
                        fullscreen: true,
                        openFullscreen: true,
                        closeOnEscape: false,
                        overlayClose: false,
                        overlay: false,
                        overlayColor: '',
                        history: false,
                        onClosing: function () {
                            $("#ContentEditorModal").iziModal('close');
                            $scope.setTab('tab-create');
                        }
                    });
                    $('#ContentEditorModal').iziModal('open');
                }
                $scope.tab = 'tab-create';
                $scope.setTab = function (newTab) {
                    var requestObj = {
                        "request": {
                            "filters": {
                            }
                        }
                    };
                    switch (newTab) {
                        case "tab-create":
                            break;
                        case "tab-allcontent":
                            $scope.noResultMsg = "No content to display. Start Creating Now";
                            requestObj.request.filters.createdBy = userId;
                            requestObj.request.filters.status = ["Draft", "Review", "Live"];
                            $scope.search(requestObj);
                            break;
                        case "tab-review":
                            $scope.noResultMsg = "You don't have any content for review...";
                            requestObj.request.filters.createdBy = userId;
                            requestObj.request.filters.status = ["Review"]
                            $scope.search(requestObj);
                            break;
                        case "tab-published":
                            $scope.noResultMsg = "You don't have any published content...";
                            requestObj.request.filters.createdBy = userId;
                            requestObj.request.filters.status = ["Live"]
                            $scope.search(requestObj);
                            break;
                        case "tab-upreview":
                            $scope.noResultMsg = "You don't have any content for review...";
                            var userIds = _.keys(userNames);
                            requestObj.request.filters.createdBy = _.without(userIds, userId);
                            requestObj.request.filters.status = ["Review"]
                            $scope.search(requestObj);
                            break;
                        default:
                    }
                    $scope.tab = newTab;
                };
                $scope.setTab($scope.tab);
                $scope.isSet = function (tabNum) {
                    return $scope.tab === tabNum;
                };
                $scope.publishContent = function(identifier){
                    $.ajax({
                        type: 'POST',
                        url: '/action/content/v3/publish/' + identifier,
                        dataType: "json",
                        data: {"request": {"content": {}}},
                        contentType: "application/json; charset=utf-8",
                        crossDomain: true,
                        success: function (data) {
                            $scope.setTab('tab-upreview');
                            $scope.$apply();
                        },
                        error: function (request, status, error) {
                            alert(error);
                        }
                    });
                }
            });
        </script>

</body>

</html>